{% extends "packitPolygons/base.html" %}
{% block content %}
<!--<div class="modal" id="modal">-->
<!--    <div class="modal-inner">-->
<!--        <h2>How to Play</h2>-->
<!--        <p>-->
<!--            Polygonal PackIt-->
<!--        </p>-->
<!--        <ol>-->
<!--            <li>-->
<!--                Tile is placeable in turn <em>i</em> if it consists of <em>i</em> or <em>i+1</em> hexagons.-->
<!--            </li>-->
<!--            <li>-->

<!--            </li>-->
<!--        </ol>-->
<!--        <button id="closeModal">Close</button>-->
<!--    </div>-->
<!--</div>-->
<div class="board">
    <div class="hexagonal-grid">
        <div class="hexagonal-row">
            <div class="hexagonal-cell">1</div>
            <div class="hexagonal-cell">2</div>
            <div class="hexagonal-cell">3</div>
        </div>
        <div class="hexagonal-row">
            <div class="hexagonal-cell">1</div>
            <div class="hexagonal-cell">2</div>
            <div class="hexagonal-cell">3</div>
            <div class="hexagonal-cell">4</div>
        </div>
        <div class="hexagonal-row">
            <div class="hexagonal-cell">1</div>
            <div class="hexagonal-cell">2</div>
            <div class="hexagonal-cell">3</div>
            <div class="hexagonal-cell">4</div>
            <div class="hexagonal-cell">5</div>
        </div>
        <div class="hexagonal-row">
            <div class="hexagonal-cell">1</div>
            <div class="hexagonal-cell">2</div>
            <div class="hexagonal-cell">3</div>
            <div class="hexagonal-cell">4</div>
        </div>
        <div class="hexagonal-row">
            <div class="hexagonal-cell">1</div>
            <div class="hexagonal-cell">2</div>
            <div class="hexagonal-cell">3</div>
        </div>
    </div>
    </div>
{% endblock %}

