{% extends "packitPolygons/base.html" %}
{% block content %}
<div class="board">
        <div class="triangular-grid">
            <div class="triangular-row">
                <div class="triangular-cell"> </div>
            </div>
            <div class="triangular-row">
                <div class="triangular-cell"> </div>
                <div class="triangular-cell"> </div>
                <div class="triangular-cell"> </div>
            </div>
            <div class="triangular-row">
                <div class="triangular-cell"> </div>
                <div class="triangular-cell"> </div>
                <div class="triangular-cell"> </div>
                <div class="triangular-cell"> </div>
                <div class="triangular-cell"> </div>
            </div>
            <div class="triangular-row">
                <div class="triangular-cell"> </div>
                <div class="triangular-cell"> </div>
                <div class="triangular-cell"> </div>
                <div class="triangular-cell"> </div>
                <div class="triangular-cell"> </div>
                <div class="triangular-cell"> </div>
                <div class="triangular-cell"> </div>
            </div>
{#            <div class="triangular-row">#}
{#                <div class="triangular-cell">1</div>#}
{#                <div class="triangular-cell">2</div>#}
{#                <div class="triangular-cell">3</div>#}
{#                <div class="triangular-cell">4</div>#}
{#                <div class="triangular-cell">5</div>#}
{#                <div class="triangular-cell">6</div>#}
{#                <div class="triangular-cell">7</div>#}
{#                <div class="triangular-cell">8</div>#}
{#                <div class="triangular-cell">9</div>#}
            </div>
        </div>
{% endblock %}

