{% extends "packitPolygons/base.html" %}
{% block content %}
<div class="board">
        <div class="triangle-grid">
            <div class="triangle-row">
                <div class="triangle-cell">1</div>
            </div>
            <div class="triangle-row">
                <div class="triangle-cell">1</div>
                <div class="triangle-cell">2</div>
                <div class="triangle-cell">3</div>
            </div>
            <div class="triangle-row">
                <div class="triangle-cell">1</div>
                <div class="triangle-cell">2</div>
                <div class="triangle-cell">3</div>
                <div class="triangle-cell">4</div>
                <div class="triangle-cell">5</div>
            </div>
            <div class="triangle-row">
                <div class="triangle-cell">1</div>
                <div class="triangle-cell">2</div>
                <div class="triangle-cell">3</div>
                <div class="triangle-cell">4</div>
                <div class="triangle-cell">5</div>
                <div class="triangle-cell">6</div>
                <div class="triangle-cell">7</div>
            </div>
            <div class="triangle-row">
                <div class="triangle-cell">1</div>
                <div class="triangle-cell">2</div>
                <div class="triangle-cell">3</div>
                <div class="triangle-cell">4</div>
                <div class="triangle-cell">5</div>
                <div class="triangle-cell">6</div>
                <div class="triangle-cell">7</div>
                <div class="triangle-cell">8</div>
                <div class="triangle-cell">9</div>
            </div>
        </div>
    </div>
{% endblock %}

