main {
    display: grid;
    /*gap: 20px;*/
    /*padding: 20px;*/
    justify-content: center;
}
div {
    display: flex;
    justify-content: center;
}
.hexagonal-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    --s: 100px;
    --m: 1px;
    --f: calc(1.732 * var(--s) + 4 * var(--m)  - 1px);
}
.hexagonal-row {
    display: flex;
    justify-content: center;
}
.hexagonal-row > * {
    display: grid;
    place-items: center
}

.hexagonal-grid { --hexagonal-size: 3em; /*  y=mx+b for points p1(160,36) p2(1920,256) */ }

.hexagonal-cell {
    width: var(--s);
    margin: var(--m);
    height: calc(var(--s) * 1.1547);
    margin-bottom: calc(var(--m) - var(--s)*0.2885);
     /*display: inline-block;*/
     /*font-size: initial;*/
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    background-color: #bab1b5;
    /* font; */
}

.hexagonal-row > :hover {
    background-color: #f5c6d9
}

/* Grid setup */
.triangular-grid    {
    display: flex;
    flex-direction: column;
    justify-content: center;
    --s: 100px;
    --m: 1px;
    --f: calc(1.732 * var(--s) + 4 * var(--m)  - 1px);
}
.triangular-row     {
    display: flex;
    justify-content: center;
}
.triangular-row > * {
    display: grid;
    place-items: center
}


.triangular-row > :nth-child(odd)  {
    clip-path: polygon(50%   0%, 0% 100%, 100% 100%);
} /* up   */
.triangular-row > :nth-child(even) {
    clip-path: polygon(50% 100%, 0%   0%, 100%   0%);
} /* Down */

.triangular-cell {
    width : calc(var(--s) + 2 * var(--m));
    height: var(--s);
    /*margin: 0 calc(-1 * var(--s)/4);*/
    background-color: #bab1b5;
    margin: 0 calc(-1 * var(--s) / 4 + var(--m) / 2);
    margin-bottom: 2px;
    /* border : 1px solid black; */
}

/* Action */
.triangular-row > :hover { background-color: #f5c6d9 }

header {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    /*padding: 10px;*/
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
}

.app-footer  {
    margin-top: 10px;
}

.dim-input {
    width: 30px;
    height: 20px;
    font-size: 12px;
    text-align: center;
}

td {
    /*display: grid;*/
    /*flex-direction: column;*/
    justify-content: center;
}

h2, h3 {
    text-align: center;
}

.modal {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease; /* Smooth transition for opening and closing */
}

.modal.open {
    opacity: 1;
    z-index: 999;
}

.modal-inner {
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    text-align: left;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: block;
}

.modal-inner h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

.modal-inner p {
    line-height: 1.6;
    margin: 10px 0;
    font-size: 16px;
    color: #555;
}

.modal-inner ol {
    margin: 20px 0;
    padding-left: 20px;
}

.modal-inner ol li {
    margin: 8px 0;
}

#closeModal {
    background-color: #586069;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#closeModal:hover {
    background-color: #94a2b0;
}


.popup {
    /*background-color: #ffffff;*/
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.popup.open {
    opacity: 1;
    z-index: 999;
}

.popup-content {
    background-color: #ffffff;
    /*border: black thin;*/
    text-align: center;
}

.popup-content h2 {
    margin: 0;
}

.popup-content p {
    line-height: 24px;
    margin: 10px 0;
}